#sidebar {
    background-color: #003250;
}
.activeLink {
    background-color: #0784b5;
}
.sidebar-menu:hover {
    background-color: #0784b5;
    cursor: pointer;
    color: #ffffff;
}
a:hover {
    text-decoration: none;
}
